table {
  table-layout: fixed;
  width: 400px;
  border-collapse: separate;
  border-spacing: 5px;
  empty-cells: hide;
 
}

th
{
   height: 30px;
   width: 30px;
}

div#contatti{
    display: table-cell;
    position: left;
    padding-top:none;
    padding-left:10px;
    padding-right:15px;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
     
}

div.contact_email{
	display:block;
}

iframe{
	position:absolute;
	top:39%;
	left:50%;
}
