
img#gite2img{
	padding-right: 100px;
}

h1.gita{
	font-style: italic;
	font-family: verdana;
	text-align: center;
	margin:  10px 10 px 0 px 10px;
	padding-left: 20px;
	
}

h2.gita{
	font-style: courier;
	font-family: verdana;
	text-align: left;
	padding
	
	
}
p.gita{
	font-style: italic;
	font-family: verdana;
	text-align: left;
}
  